.claude/**
bias/**
docs/**
st-agent-proxy/
node_modules/
public/chats/
public/characters/
public/User Avatars/
public/backgrounds/
public/groups/
public/group chats/
public/worlds/
public/user/
public/css/bg_load.css
public/themes/
public/OpenAI Settings/
public/KoboldAI Settings/
public/NovelAI Settings/
public/TextGen Settings/
public/instruct/
public/context/
public/scripts/extensions/third-party/
public/stats.json
/uploads/
*.jsonl
/config.conf
/config.yaml
/config.conf.bak
/docker/config
/docker/user
/docker/extensions
/docker/data
/docker/dist
.DS_Store
public/settings.json
/thumbnails
whitelist.txt
.vscode/**
!.vscode/extensions.json
.idea/
secrets.json
/dist
/backups/
public/movingUI/
public/QuickReplies/
content.log
cloudflared.exe
public/assets/
access.log
/vectors/
/cache/
public/css/user.css
public/error/
/plugins/
/data
/default/scaffold
public/scripts/extensions/third-party
/certs
.aider*
.env
/StartDev.bat
yarn.lock
*.code-workspace
test-results/
st-agent-proxy/v1/chat/completions/server.js
src/endpoints/backends/Get models.js
st-agent-proxy/v1/chat/completions/Perplexity/00_Core_Behavior.txt
st-agent-proxy/v1/chat/completions/Perplexity/01_Mindspace_Switches.txt
st-agent-proxy/v1/chat/completions/Perplexity/02_Writing_Style.txt
st-agent-proxy/v1/chat/completions/Perplexity/03_Narrative_Fiction.txt
st-agent-proxy/v1/chat/completions/Perplexity/04_Spatial_Framework.txt
st-agent-proxy/v1/chat/completions/Perplexity/05_Forbidden_Workshop.txt
st-agent-proxy/v1/chat/completions/Perplexity/combine_files.py
st-agent-proxy/v1/chat/completions/Perplexity/Combined.md
st-agent-proxy/v1/chat/completions/Perplexity/seperate.md
st-agent-proxy/v1/chat/completions/Perplexity/split_md_files.py
